TestConsoleAppVB/Connected Services/SRCorrigo/CorrigoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://corrigo.com/webservices/6.x" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://corrigo.com/webservices/6.x" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://corrigo.com/webservices/6.x">
      <s:import schemaLocation="http://am-ce92b.corrigo.com/wsdk/CorrigoService.asmx?schema=schema1" namespace="http://corrigo.com/integration/" />
      <s:import schemaLocation="http://am-ce92b.corrigo.com/wsdk/CorrigoService.asmx?schema=schema2" namespace="http://microsoft.com/wsdl/types/" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveSoapIn">
    <wsdl:part xmlns:q1="http://corrigo.com/integration/" name="parameters" element="q1:Retrieve" />
  </wsdl:message>
  <wsdl:message name="RetrieveSoapOut">
    <wsdl:part xmlns:q2="http://corrigo.com/integration/" name="parameters" element="q2:RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveCorrigoNetOptions">
    <wsdl:part xmlns:q3="http://corrigo.com/integration/" name="CorrigoNetOptions" element="q3:CorrigoNetOptions" />
  </wsdl:message>
  <wsdl:message name="RetrieveMultipleSoapIn">
    <wsdl:part xmlns:q4="http://corrigo.com/integration/" name="parameters" element="q4:RetrieveMultiple" />
  </wsdl:message>
  <wsdl:message name="RetrieveMultipleSoapOut">
    <wsdl:part xmlns:q5="http://corrigo.com/integration/" name="parameters" element="q5:RetrieveMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveMultipleCorrigoNetOptions">
    <wsdl:part xmlns:q6="http://corrigo.com/integration/" name="CorrigoNetOptions" element="q6:CorrigoNetOptions" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part xmlns:q7="http://corrigo.com/integration/" name="parameters" element="q7:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part xmlns:q8="http://corrigo.com/integration/" name="parameters" element="q8:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteCorrigoNetOptions">
    <wsdl:part xmlns:q9="http://corrigo.com/integration/" name="CorrigoNetOptions" element="q9:CorrigoNetOptions" />
  </wsdl:message>
  <wsdl:message name="ExecuteMultipleSoapIn">
    <wsdl:part xmlns:q10="http://corrigo.com/integration/" name="parameters" element="q10:ExecuteMultiple" />
  </wsdl:message>
  <wsdl:message name="ExecuteMultipleSoapOut">
    <wsdl:part xmlns:q11="http://corrigo.com/integration/" name="parameters" element="q11:ExecuteMultipleResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteMultipleCorrigoNetOptions">
    <wsdl:part xmlns:q12="http://corrigo.com/integration/" name="CorrigoNetOptions" element="q12:CorrigoNetOptions" />
  </wsdl:message>
  <wsdl:message name="GetCompanyWsdkUrlSoapIn">
    <wsdl:part xmlns:q13="http://corrigo.com/integration/" name="parameters" element="q13:GetCompanyWsdkUrl" />
  </wsdl:message>
  <wsdl:message name="GetCompanyWsdkUrlSoapOut">
    <wsdl:part xmlns:q14="http://corrigo.com/integration/" name="parameters" element="q14:GetCompanyWsdkUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyWsdkUrlCorrigoNetOptions">
    <wsdl:part xmlns:q15="http://corrigo.com/integration/" name="CorrigoNetOptions" element="q15:CorrigoNetOptions" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part xmlns:q16="http://corrigo.com/integration/" name="parameters" element="q16:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part xmlns:q17="http://corrigo.com/integration/" name="parameters" element="q17:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutCorrigoNetOptions">
    <wsdl:part xmlns:q18="http://corrigo.com/integration/" name="CorrigoNetOptions" element="q18:CorrigoNetOptions" />
  </wsdl:message>
  <wsdl:message name="LogInStatusSoapIn">
    <wsdl:part xmlns:q19="http://corrigo.com/integration/" name="parameters" element="q19:LogInStatus" />
  </wsdl:message>
  <wsdl:message name="LogInStatusSoapOut">
    <wsdl:part xmlns:q20="http://corrigo.com/integration/" name="parameters" element="q20:LogInStatusResponse" />
  </wsdl:message>
  <wsdl:message name="LogInStatusCorrigoNetOptions">
    <wsdl:part xmlns:q21="http://corrigo.com/integration/" name="CorrigoNetOptions" element="q21:CorrigoNetOptions" />
  </wsdl:message>
  <wsdl:message name="LogInCompanySoapIn">
    <wsdl:part xmlns:q22="http://corrigo.com/integration/" name="parameters" element="q22:LogInCompany" />
  </wsdl:message>
  <wsdl:message name="LogInCompanySoapOut">
    <wsdl:part xmlns:q23="http://corrigo.com/integration/" name="parameters" element="q23:LogInCompanyResponse" />
  </wsdl:message>
  <wsdl:message name="LogInCompanyCorrigoNetOptions">
    <wsdl:part xmlns:q24="http://corrigo.com/integration/" name="CorrigoNetOptions" element="q24:CorrigoNetOptions" />
  </wsdl:message>
  <wsdl:message name="GetCompanyWsdkUrlHttpGetIn">
    <wsdl:part name="CompanyName" type="s:string" />
    <wsdl:part name="Protocol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyWsdkUrlHttpGetOut">
    <wsdl:part xmlns:q25="http://corrigo.com/integration/" name="Body" element="q25:CommandResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutHttpGetIn" />
  <wsdl:message name="LogOutHttpGetOut">
    <wsdl:part xmlns:q26="http://corrigo.com/integration/" name="Body" element="q26:CommandResponse" />
  </wsdl:message>
  <wsdl:message name="LogInStatusHttpGetIn" />
  <wsdl:message name="LogInStatusHttpGetOut">
    <wsdl:part xmlns:q27="http://corrigo.com/integration/" name="Body" element="q27:CommandResponse" />
  </wsdl:message>
  <wsdl:message name="LogInCompanyHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="companyname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogInCompanyHttpGetOut">
    <wsdl:part xmlns:q28="http://corrigo.com/integration/" name="Body" element="q28:CommandResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyWsdkUrlHttpPostIn">
    <wsdl:part name="CompanyName" type="s:string" />
    <wsdl:part name="Protocol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCompanyWsdkUrlHttpPostOut">
    <wsdl:part xmlns:q29="http://corrigo.com/integration/" name="Body" element="q29:CommandResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutHttpPostIn" />
  <wsdl:message name="LogOutHttpPostOut">
    <wsdl:part xmlns:q30="http://corrigo.com/integration/" name="Body" element="q30:CommandResponse" />
  </wsdl:message>
  <wsdl:message name="LogInStatusHttpPostIn" />
  <wsdl:message name="LogInStatusHttpPostOut">
    <wsdl:part xmlns:q31="http://corrigo.com/integration/" name="Body" element="q31:CommandResponse" />
  </wsdl:message>
  <wsdl:message name="LogInCompanyHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="companyname" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogInCompanyHttpPostOut">
    <wsdl:part xmlns:q32="http://corrigo.com/integration/" name="Body" element="q32:CommandResponse" />
  </wsdl:message>
  <wsdl:portType name="CorrigoService">
    <wsdl:operation name="Retrieve">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves an instance of an entity. Takes two parameters: first of them specifies an entity by identifier and entity type (instance of EntitySpecifier class should be passed); second parameter specifies the set of properties to retrieve (to retrieve all properties, pass a new instance of the AllProperties class). Returns an instance of the CorrigoEntity requested or null if no entity was found. The CorrigoEntity class contains only the properties specified by the input parameter. Use this method to retrieve an instance of the CorrigoNet entity. Your client application must be logged in with sufficient access rights to retrieve a specified object and to retrieve the properties in the specified property list.</wsdl:documentation>
      <wsdl:input message="tns:RetrieveSoapIn" />
      <wsdl:output message="tns:RetrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMultiple">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Uses a query expression to retrieve CorrigoNet entities. Takes single parameter which specifies either a QueryExpression or a QueryByProperty object derived from the QueryBase class. This is the query to be executed for an entity. Returns a collection of entities of the type specified in the query parameter. If the query specified returned no results, an empty collection is returned. Use this method to retrieve one or more entity instances based on criteria specified in the input parameter.</wsdl:documentation>
      <wsdl:input message="tns:RetrieveMultipleSoapIn" />
      <wsdl:output message="tns:RetrieveMultipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Executes a message that either represents a specialized method or specific business logic. It takes an instance of a CommandRequest base class message as input parameter and returns an instance of a CommandResponse base class message. You must cast the return value of the Execute method to the specific instance of the response command that corresponds to the request parameter.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteMultiple">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Executes a list of messages that either represents a specialized method or specific business logic. It takes a list of instances of a CommandRequest base class message as an input parameter and returns a list of instances of a CommandResponse base class message. You must cast every CommandResponse instance returned by the ExecuteMultiple method to the specific instance of the response command that corresponds to the appropriate request parameter.</wsdl:documentation>
      <wsdl:input message="tns:ExecuteMultipleSoapIn" />
      <wsdl:output message="tns:ExecuteMultipleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyWsdkUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Converts a Company Name argument into a fully-qualified URL for WSDK calls.</wsdl:documentation>
      <wsdl:input message="tns:GetCompanyWsdkUrlSoapIn" />
      <wsdl:output message="tns:GetCompanyWsdkUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log Out of the session.</wsdl:documentation>
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current Login status for the session.</wsdl:documentation>
      <wsdl:input message="tns:LogInStatusSoapIn" />
      <wsdl:output message="tns:LogInStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInCompany">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login into HOST-INDEPENDENT WSDL with Company Name, i.e. http://www.corrigonet.corrigo.com/...</wsdl:documentation>
      <wsdl:input message="tns:LogInCompanySoapIn" />
      <wsdl:output message="tns:LogInCompanySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CorrigoService2">
    <wsdl:operation name="GetCompanyWsdkUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Converts a Company Name argument into a fully-qualified URL for WSDK calls.</wsdl:documentation>
      <wsdl:input message="tns:GetCompanyWsdkUrlHttpGetIn" />
      <wsdl:output message="tns:GetCompanyWsdkUrlHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log Out of the session.</wsdl:documentation>
      <wsdl:input message="tns:LogOutHttpGetIn" />
      <wsdl:output message="tns:LogOutHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current Login status for the session.</wsdl:documentation>
      <wsdl:input message="tns:LogInStatusHttpGetIn" />
      <wsdl:output message="tns:LogInStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInCompany">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login into HOST-INDEPENDENT WSDL with Company Name, i.e. http://www.corrigonet.corrigo.com/...</wsdl:documentation>
      <wsdl:input message="tns:LogInCompanyHttpGetIn" />
      <wsdl:output message="tns:LogInCompanyHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CorrigoService3">
    <wsdl:operation name="GetCompanyWsdkUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Converts a Company Name argument into a fully-qualified URL for WSDK calls.</wsdl:documentation>
      <wsdl:input message="tns:GetCompanyWsdkUrlHttpPostIn" />
      <wsdl:output message="tns:GetCompanyWsdkUrlHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Log Out of the session.</wsdl:documentation>
      <wsdl:input message="tns:LogOutHttpPostIn" />
      <wsdl:output message="tns:LogOutHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current Login status for the session.</wsdl:documentation>
      <wsdl:input message="tns:LogInStatusHttpPostIn" />
      <wsdl:output message="tns:LogInStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInCompany">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Login into HOST-INDEPENDENT WSDL with Company Name, i.e. http://www.corrigonet.corrigo.com/...</wsdl:documentation>
      <wsdl:input message="tns:LogInCompanyHttpPostIn" />
      <wsdl:output message="tns:LogInCompanyHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CorrigoService" type="tns:CorrigoService">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Retrieve">
      <soap:operation soapAction="http://corrigo.com/integration/Retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RetrieveCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMultiple">
      <soap:operation soapAction="http://corrigo.com/integration/RetrieveMultiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RetrieveMultipleCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://corrigo.com/integration/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExecuteCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteMultiple">
      <soap:operation soapAction="http://corrigo.com/integration/ExecuteMultiple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ExecuteMultipleCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyWsdkUrl">
      <soap:operation soapAction="http://corrigo.com/integration/GetCompanyWsdkUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetCompanyWsdkUrlCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://corrigo.com/integration/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LogOutCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInStatus">
      <soap:operation soapAction="http://corrigo.com/integration/LogInStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LogInStatusCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInCompany">
      <soap:operation soapAction="http://corrigo.com/integration/LogInCompany" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LogInCompanyCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorrigoService1" type="tns:CorrigoService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Retrieve">
      <soap12:operation soapAction="http://corrigo.com/integration/Retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RetrieveCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveMultiple">
      <soap12:operation soapAction="http://corrigo.com/integration/RetrieveMultiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RetrieveMultipleCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://corrigo.com/integration/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExecuteCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteMultiple">
      <soap12:operation soapAction="http://corrigo.com/integration/ExecuteMultiple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ExecuteMultipleCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyWsdkUrl">
      <soap12:operation soapAction="http://corrigo.com/integration/GetCompanyWsdkUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetCompanyWsdkUrlCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://corrigo.com/integration/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogOutCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInStatus">
      <soap12:operation soapAction="http://corrigo.com/integration/LogInStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogInStatusCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInCompany">
      <soap12:operation soapAction="http://corrigo.com/integration/LogInCompany" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogInCompanyCorrigoNetOptions" part="CorrigoNetOptions" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorrigoService2" type="tns:CorrigoService2">
    <http:binding verb="GET" />
    <wsdl:operation name="GetCompanyWsdkUrl">
      <http:operation location="/GetCompanyWsdkUrl" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <http:operation location="/LogOut" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInStatus">
      <http:operation location="/LogInStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInCompany">
      <http:operation location="/LogInCompany" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CorrigoService3" type="tns:CorrigoService3">
    <http:binding verb="POST" />
    <wsdl:operation name="GetCompanyWsdkUrl">
      <http:operation location="/GetCompanyWsdkUrl" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <http:operation location="/LogOut" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInStatus">
      <http:operation location="/LogInStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInCompany">
      <http:operation location="/LogInCompany" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>